<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/asset/vite.svg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DDNS</title>
    <style>
      #root{
        height: 100%;
      }
    </style>
    <script type="module" crossorigin src="/asset/index-63c197a5.js"></script>
    <link rel="stylesheet" href="/asset/index-b6ca687b.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
